<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
<string>ca-app-pub-3940256099942544/2934735716</string>
<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
<string>ca-app-pub-3940256099942544/4411468910</string>
<key>CLIENT_ID</key>
<string>665681793254-go8u0qu5su0qm50df1bs201avbircg99.apps.googleusercontent.com</string>
<key>REVERSED_CLIENT_ID</key>
<string>com.googleusercontent.apps.665681793254-go8u0qu5su0qm50df1bs201avbircg99</string>
<key>API_KEY</key>
<string>AIzaSyDWeKPJh84g7pBrNDNtdsD8c8pUpTnJL-E</string>
<key>GCM_SENDER_ID</key>
<string>665681793254</string>
<key>PLIST_VERSION</key>
<string>1</string>
<key>BUNDLE_ID</key>
<string>com.mttyng.HackerNooz</string>
<key>PROJECT_ID</key>
<string>hackernooz</string>
<key>STORAGE_BUCKET</key>
<string>hackernooz.appspot.com</string>
<key>IS_ADS_ENABLED</key>
<true></true>
<key>IS_ANALYTICS_ENABLED</key>
<false></false>
<key>IS_APPINVITE_ENABLED</key>
<false></false>
<key>IS_GCM_ENABLED</key>
<true></true>
<key>IS_SIGNIN_ENABLED</key>
<true></true>
<key>GOOGLE_APP_ID</key>
<string>1:665681793254:ios:c34164e38a8a84e6</string>
<key>DATABASE_URL</key>
<string>https://hackernooz.firebaseio.com</string>
</dict>
</plist>
